@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Global scroll snap container */
.snap-y {
  scroll-snap-type: y mandatory; /* Vertical snapping */
}

.snap-start {
  scroll-snap-align: start; /* Align at the start of the container */
}

h-screen {
  height: 100vh; /* Full viewport height */
}
